<html>

<head>
    <title>Dice Game</title>
    <script src='/js/jquery.min.js'></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/player.js"></script>
    <script src="/js/lobby.js"></script>
    <script src="/js/frontendlogic.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/default.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <div class="banner title">
            <h1>Multi-Player Dice Game</h1>
            <div id="logout" style="display: none;">
                <span style="float: right;"> <b>User: </b> <label id="user"><%= user %></label> <a href="/logout"
                        style='color:white;text-decoration: underline'> Log out</a></span>
            </div>
        </div>
        <% if(user) { %>
        <div style="visibility:hidden">
            <b>User: </b> <label id="user"><%= user %></label> <a href="/logout"
                style='color:blue;text-decoration: underline'> Log out</a>
        </div>
        <% } %>
        <% if(roomid) { %>
        <b>Roomid: </b> <label id="roomid"><%= roomid %></label>
        <% } %>

        <div id="login" style="display: none;">
            <label for="name"> Email:</label>
            <input type="email" id="name" class="form-control" placeholder="Email address" required=""
                autofocus="">
            <a href="#"><button class="btn btn-primary btn-lg">Login</button></a>
        </div>
        <div id="start" style="display: none;">
            <span id="creategame"> <button class="btn btn-primary btn-lg">Create Room</button> </span>
            <span id="joinroom"> <button class="btn btn-primary btn-lg">Join Room</button></span>
        </div>
        <div id="joinroomcontrols" style="display: none;">
            <label for="roomid">Room:</label>
            <input id="roomid" class="form-control" placeholder="Enter Room name" required="" autofocus="">
            <a href="#" id="joinbutton"><button class="btn btn-primary btn-lg">Join</button></a>
        </div>
        <div id="lobby">
            
        </div>
        <div id="gameroom" style="display: none;">
            <div class="rolldice"><Button class="btn-primary btn-lg">Roll Dice</Button></div>
        </div>
        
    </div>
</body>

</html>