* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    text-align: center;
}

.container {
    margin: 10px;
    padding: 10px;
}

#login, #joinroomcontrols {
   margin: 0 auto; 
   width: 100vw;
}

#login label, #login input, #login a {
    display: inline-block;
}

#name, #roomid {
    max-width: 60vw;
}

#joinroomcontrols label, #joinroomcontrols input, #joinroomcontrols a {
    display: inline-block;
}

.player {
    padding: 10px;
}

.player div {
    margin: 0px 10px;
    padding: 10px;
    min-width: 250px;   
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
}

.player.me {
    color: red;
}